body {
  color: #2f3132;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}
a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

h3 {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

p{
  font-size: 14px;
line-height: 16px;
font-weight: normal;
text-align: center;
}
