@media (min-width: 768px) {
  .header {
    padding: 54px 58px 0;
    min-height: 286px;
  }
  .header__logo {
    width: 240px;
  }

  .pageTop__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    min-height: 514px;
  }
  .pageTop__text {
    font-size: 24px;
    line-height: 28px;
    padding-top: 124px;
    margin: 0 155px;
  }
  .pageTop__arrow {
    margin: 76px auto 80px;
  }
  .arrow__bottom_red {
    width: 57px;
    height: 29px;
  }

  .page1__container {
    padding: 80px 77px 459px;
    max-width: 1280px;
  }
  .page1__icon {
    margin-bottom: 39px;
  }
  .page1__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .page1__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 76px;
  }

  .page1__advertismen {
    font-size: 150px;
    line-height: 176px;
  }

  .page2__container {
    padding: 70px 77px 50px;
  }

  .page2__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 20px;
  }
  .page2__item-text{
    font-size: 24px;
    line-height: 28px;
  }

  .page2__text_top {
    font-size: 24px;
    line-height: 28px;
    width: 600px;
    margin: 0 auto 50px;
  }
  
  .page2__footer-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
  }
   .page2__item {
    margin-right: 30px;
    padding: 27px 32px 24px;
    width: 300px;
    min-height: 170px;
  }
   .page2__pagination {
    padding-bottom: 22px;
  }

  .page2__pagination-link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .page2__container-footer {
    padding: 50px 77px 61px;
  }
}
