@media (min-width: 768px) {
  .text {
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    font-size: 40px;
    line-height: 47px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  p {
    font-size: 24px;
    line-height: 28px;
  }

  /* Page TOP */

  .container {
    min-width: 768px;
  }
  .header {
    padding: 54px 58px 0;
    min-height: 286px;
  }
  .header__logo {
    width: 240px;
  }

  .hamburger {
    top: 54px;
    right: 58px;
  }

  .header__hamburger,
  .header__hamburger::after,
  .header__hamburger::before {
    width: 61px;
    height: 8px;
  }

  .header__hamburger::after {
    margin-top: 8px;
  }

  .header__hamburger::before {
    margin-bottom: 8px;
  }

  .pageTop__title {
    min-height: 514px;
  }

  .pageTop__text {
    padding-top: 124px;
    margin: 0 155px;
  }

  .pageTop__arrow {
    margin: 76px auto 80px;
  }

  .arrow__bottom_red {
    width: 57px;
    height: 29px;
  }

  /* Page 1 */

  .page1__container {
    padding: 80px 77px 459px;
    max-width: 1280px;
  }

  .bluethooth__img {
    width: 22px;
    height: 40px;
  }

  .page1__icon {
    margin-bottom: 39px;
  }

  .page1__title {
    font-weight: 900;

    margin-bottom: 30px;
  }

  .page1__text {
    margin-bottom: 76px;
  }

  .page1__advertismen {
    font-size: 150px;
    line-height: 176px;
  }

  /* Page 2 */

  .page2__container {
    padding: 70px 0 50px;
  }

  .page2__title {
    margin-bottom: 30px;
  }

  .page2__text_top {
    width: 690px;
    margin-bottom: 50px;
  }

  .page2__footer-title {
    margin-bottom: 85px;
  }

  .page2__item {
    margin-right: 30px;
    padding: 27px 32px 24px;
    width: 300px;
    min-height: 170px;
  }

  .page2__carousel-inner {
    height: 573px;
  }

  .page2__carousel-indicators {
    bottom: -155px;
  }

  .page2__carousel-control-next,
  .page2__carousel-control-prev {
    bottom: -145px;
    top: 585px;
    width: 5%;
  }

  .page2__carousel-control-next {
    right: 165px;
  }

  .page2__carousel-control-prev {
    left: 165px;
  }

  .page2__carousel-item img {
    height: 574px;
  }

  .page2__carousel-indicators li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 12px;
  }

  .page2__container-footer {
    padding: 50px 77px 61px;
  }

  /* Page 3 */

  .page3 {
    padding: 70px 0 505px;
  }

  .page3__content-container {
    padding: 30px 65px 0;
  }

  .page3__text1 {
    margin-bottom: 16px;
  }

  .page3__instructions-container {
    padding: 62px 0 0;
  }

  .page3__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-position: inside;
  }

  .page3__item {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    text-align: left;
    border-right: 1px solid red;
    padding-left: 28px;
  }

  .page3__item:first-child {
    padding-left: 0;
  }
  .page3__item:last-child {
    border-right: none;
  }

  /* Page 4 */

  .page4 {
    padding-bottom: 70px;
  }
  .page4__container {
    padding: 70px 0 70px;
  }

  .page4__title {
    width: 493px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .page4__text {
    width: 761px;
    margin-bottom: 54px;
  }

  .page4__carusel {
    width: 497px;
    margin: 0 auto;
  }

  .page4__carousel-item img {
    height: 610px;
  }

  .page4__carousel-indicators {
    bottom: -53px;
  }
  .page4__carousel-indicators li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 12px;
  }

  .page4__footer {
    width: 765px;
    margin: 0 65px;
  }
  .page4__pagination-footer-list {
    width: 512px;
    margin: 0 auto;
  }

  .page4__pagination-footer-link img {
    object-fit: contain;
    height: 35px;
  }

  .page4__footer-container {
    padding: 38px 0 29px;
  }

  .page4__footer-text {
    margin: 25px 0 0;
  }
  .page4__footer-text p {
    font-size: 20px;
    line-height: 23px;
    padding: 0 35px;
  }

  /* Page 5 */

  .page5__container {
    padding: 70px 0 50px;
  }
  .page5__title {
    margin-bottom: 30px;
  }
  .page5__picture img {
    height: 549px;
  }

  /* Footer */

  .footer {
    min-height: 150px;
    padding-top: 47px;
  }
  
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
  
}
