@media (min-width: 768px) {
  .text {
    font-size: 24px;
    line-height: 28px;
  }
  h2 {
    font-size: 40px;
    line-height: 47px;
  }
  .header {
    padding: 54px 58px 0;
    min-height: 286px;
  }
  .header__logo {
    width: 240px;
  }

  .pageTop__title {
    font-weight: 900;

    min-height: 514px;
  }
  .pageTop__text {
    padding-top: 124px;
    margin: 0 155px;
  }
  .pageTop__arrow {
    margin: 76px auto 80px;
  }
  .arrow__bottom_red {
    width: 57px;
    height: 29px;
  }

  .page1__container {
    padding: 80px 77px 459px;
    max-width: 1280px;
  }
  .page1__icon {
    margin-bottom: 39px;
  }
  .page1__title {
    font-weight: 900;

    margin-bottom: 30px;
  }

  .page1__text {
    margin-bottom: 76px;
  }

  .page1__advertismen {
    font-size: 150px;
    line-height: 176px;
  }

  .page2__container {
    padding: 70px 77px 50px;
  }

  .page2__title {
    margin-bottom: 20px;
  }
  
  .bluethooth__img{
    width: 22px;
    height: 40px;
  }

  .page2__text_top {
    width: 600px;
    margin: 0 auto 50px;
  }

  .page2__footer-title {
    margin-bottom: 23px;
  }
  .page2__item {
    margin-right: 30px;
    padding: 27px 32px 24px;
    width: 300px;
    min-height: 170px;
  }
  .page2__pagination {
    padding-bottom: 22px;
  }

  .page2__pagination-link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .page2__container-footer {
    padding: 50px 77px 61px;
  }
  
  .page3 {
    padding: 70px 0 420px
  }

   .page3__content-container {
    padding: 30px 65px 0;
  }

  .page3__text1 {
    margin-bottom: 16px;
  }
 
  .page3__instructions-container {
    padding: 62px 67px 0;
  }

  .page3__item {
    margin-bottom: 16px;
    text-align: left;
  }
  .page3__item:last-child {
    margin-bottom: 0;
  }
}
