.arrow{
    display: inline-block;
    width: fit-content;
}
.arrow__link {
    display: inline-block; 
    text-align: center; 
    height: 100%;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
  }
/* .arrow {
    border: 19px solid transparent;
    border-top-color: #FF2947;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    position: relative;
}

.arrow::after {
    content: "";
    border: 19px solid transparent;
    border-top-color: #e0e1e2;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: -22px;
    left: -19px;
}

.arrow__left{
    border: 12px solid transparent;
    border-right-color: #2F3132;
    border-left-width: 0;
}
.arrow__left::after {
    content: "";
    border: 12px solid transparent;
    border-right-color:  #ffffff;
    border-left-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    left: 4px;
}
.arrow__right{
    border: 12px solid transparent;
    border-left-color: #2F3132;
    border-right-width: 0;
}
.arrow__right::after {
    content: "";
    border: 12px solid transparent;
    border-left-color: #ffffff;
    border-right-width: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    left: -16px;
} */