.page1 {
  background: url(/img/mouseImg/High_Resolution_PNG-MX_Master_3_LEFT_GRAPHITE.png) center no-repeat;
  background-size: contain;
  background-color: #ededed;
  background-position: bottom;
  height: 100%;
}
.page1__container {
  padding: 42px 34px 252px;
  text-align: center;
}
.page1__icon {
  margin-bottom: 27px;
}

.page1__title {
  margin-bottom: 20px;
}

.page1__text {
  margin-bottom: 31px;
}

.page1__advertismen {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
  min-width: max-content;
}


