.page4 {
  background: #EDEDED;
}
.page4__container {
  padding: 70px 0 0;
  text-align: center;
}

.page4__content {
  margin-bottom: 60px;
}

.page4__title {
  width: 247px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.page4__text {
  width: 308px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.page4__carusel {
  width: 100%;
}

.page4__carousel-indicators {
  bottom: -35px;
}
.page4__carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  opacity: 1;
  background-color: #c4c4c4;
}

.page4__carousel-indicators li.active {
  background-color: #2f3132;
}
.page4__carousel-item img {
  height: 424px;
  object-fit: contain;
}


.page4__footer {
  background: #c4c4c4;
  text-align: center;
}

.page4__footer-container {
  padding: 23px 0 26px;
}

.page4__footer-text {
  margin: 20px 35px 0;
  color: white;
}
