.page2 {
  background: #ffffff;
}

.page2__container {
  padding: 19% 5% 8%;
  text-align: center;
  
}

.page2__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5%;
}

.page2__text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  width: 90%;
    margin: 0 auto;
}

.page2__text_top {
  margin: 0 16% 8%;
}

.page2__footer-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 7%;
}
.page2__list {
  display: flex;
  justify-content: space-between;
}

.page2__item {
  border: 1px solid #2f3132;
  margin-right: 2%;
  text-align: center;
  padding: 2% 3%;
  width: 166px;
  min-height: 94px;
}

.page2__item-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.page2__pagination-list{
  padding-bottom: 6%;
}
.page2__pagination-link{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
